In [1]:
import os
import pandas as pd
import zipfile
import pyodbc
import requests
import io
from datetime import datetime, timedelta
import sqlalchemy

In [2]:
server = 'DARCCVWSQL19'
#server = 'DESKTOP-37ESKFT\SQLEXPRESS'
database = 'TAPI'
tabla_nc = 'Valores_Gen_Diario_Automatico'
tabla_c = 'Hist_Bk'
tabla_v = 'View_Test3_VG'

In [4]:
#SELEC * FROM Diario;

connection_string = f'DRIVER=ODBC Driver 17 for SQL Server;SERVER={server};DATABASE={database};Trusted_Connection=yes;'

# Conectar a la base de datos
connection = pyodbc.connect(connection_string)

# Crear un cursor para ejecutar consultas
cursor = connection.cursor()

# TODO: Crear acá la tabla en la BBDD
#  Consulta SQL
query_nc = f"SELECT * FROM {tabla_nc} where FECHA >= '2024-03-01' and FECHA <= '2024-06-02';"

query_c = f"SELECT * FROM {tabla_c} where FECHA >= '2024-03-01' and FECHA <= '2024-04-30';"

query_v = f"SELECT * FROM {tabla_v} where FECHA >= '2024-03-01' and FECHA <= '2024-06-02';"
# Ejecutar la consulta
df_c = pd.read_sql(query_c, connection)
df_nc = pd.read_sql(query_nc, connection)
df_v = pd.read_sql(query_v, connection)

# Cerrar el cursor
cursor.close()

C:\Users\jadurian\AppData\Local\Temp\ipykernel_24844\2951067183.py:19: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df_c = pd.read_sql(query_c, connection)
C:\Users\jadurian\AppData\Local\Temp\ipykernel_24844\2951067183.py:20: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df_nc = pd.read_sql(query_nc, connection)
C:\Users\jadurian\AppData\Local\Temp\ipykernel_24844\2951067183.py:21: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df_v = pd.read_sql(query_v, connection)

In [5]:
df_v[(df_v['FECHA'] >= '2024-03-01') & (df_v['FECHA'] <= '2024-04-30')].describe()

,index,HORA,ARL,PI_SOTR,ARL_ECON,ENERGIA,PRECIO_NODO,PR_REM_ENERGIA,POT_DISP,POT_OPE_CPO,...,CGN,CGO,POT_DISP_R19,FACTOR_KM,ENERG_GEN_TRANSAC,ENERG_OPE_TRANSAC,PGENE_RES354,CGU_PROPIO,CGU_MEM,CGU_GAS_CEDIDO
count,70272.000000,70272.000000,70272.0,70272.000000,70272.0,70272.000000,70272.0,4.146400e+04,70272.000000,62952.000000,...,51194.0,0.0,62952.000000,62952.000000,2206.000000,2206.000000,4392.00000,4392.000000,4392.000000,4392.000000
mean,6293.753899,12.500000,1.0,44.045116,1.0,46.183618,7534.0,2.321057e+04,97.583288,56.622498,...,100.0,NaN,101.620519,0.938729,99.732499,130.619394,57.44608,7626.927457,25131.802648,8515.417199
std,3412.895957,6.922236,0.0,71.873331,0.0,69.128273,0.0,3.563759e+04,88.614074,83.224913,...,0.0,NaN,93.180013,0.217584,29.465652,41.261927,76.38177,9904.980715,10535.260655,10666.681318
min,304.000000,1.000000,1.0,0.000000,1.0,0.000000,7534.0,0.000000e+00,0.000000,0.000000,...,100.0,NaN,0.000000,0.000000,0.000000,0.000000,0.00000,0.000000,7534.000000,0.000000
25%,3683.750000,6.750000,1.0,0.000000,1.0,0.000000,7534.0,2.240000e+03,16.730000,0.000000,...,100.0,NaN,16.670000,1.000000,70.096000,91.111500,0.00000,0.000000,21293.352500,0.000000
50%,6095.500000,12.500000,1.0,0.000000,1.0,3.530000,7534.0,2.331250e+04,72.000000,0.000000,...,100.0,NaN,89.400000,1.000000,108.900000,138.436000,8.47900,2562.000000,24420.690000,2562.000000
75%,9915.000000,18.250000,1.0,85.000000,1.0,85.418001,7534.0,3.198164e+04,166.950748,107.387251,...,100.0,NaN,173.505000,1.000000,126.408000,168.216250,163.09000,21226.967500,30808.870000,21522.752500
max,11543.000000,24.000000,1.0,306.000000,1.0,288.132996,7534.0,5.267393e+06,296.670013,296.670013,...,100.0,NaN,381.897000,1.000000,178.002000,298.528000,168.00000,35462.760000,149154.520000,35462.760000

In [8]:
df_c[(df_c['FECHA'] >= '2024-03-01') & (df_c['FECHA'] <= '2024-04-30')].describe()

,index,HORA,ARL,PI_SOTR,ARL_ECON,ENERGIA,PRECIO_NODO,PR_REM_ENERGIA,POT_DISP,POT_OPE_CPO,...,COSTO_406,REM_ADICIONAL,CFO,CGN,POT_DISP_R19,FACTOR_KM,PGENE_RES354,CGU_PROPIO,CGU_MEM,CGU_GAS_CEDIDO
count,70272.000000,70272.000000,70272.0,70272.000000,70272.0,70272.000000,70272.0,4.146400e+04,70272.000000,62952.000000,...,7.027200e+04,70272.0,46.0,51194.0,62952.000000,62952.000000,4392.00000,4392.000000,4392.000000,4392.000000
mean,6293.753899,12.500000,1.0,44.045116,1.0,46.183618,7534.0,2.321057e+04,97.583288,56.622498,...,9.637400e+03,0.0,100.0,100.0,101.620519,0.938729,57.44608,7626.927457,25131.802648,8515.417199
std,3412.895957,6.922236,0.0,71.873331,0.0,69.128273,0.0,3.563759e+04,88.614074,83.224913,...,2.733901e+04,0.0,0.0,0.0,93.180013,0.217584,76.38177,9904.980715,10535.260655,10666.681318
min,304.000000,1.000000,1.0,0.000000,1.0,0.000000,7534.0,0.000000e+00,0.000000,0.000000,...,0.000000e+00,0.0,100.0,100.0,0.000000,0.000000,0.00000,0.000000,7534.000000,0.000000
25%,3683.750000,6.750000,1.0,0.000000,1.0,0.000000,7534.0,2.240000e+03,16.730000,0.000000,...,0.000000e+00,0.0,100.0,100.0,16.670000,1.000000,0.00000,0.000000,21293.352500,0.000000
50%,6095.500000,12.500000,1.0,0.000000,1.0,3.530000,7534.0,2.331250e+04,72.000000,0.000000,...,2.000000e+00,0.0,100.0,100.0,89.400000,1.000000,8.47900,2562.000000,24420.690000,2562.000000
75%,9915.000000,18.250000,1.0,85.000000,1.0,85.418001,7534.0,3.198164e+04,166.950748,107.387251,...,2.225782e+04,0.0,100.0,100.0,173.505000,1.000000,163.09000,21226.967500,30808.870000,21522.752500
max,11543.000000,24.000000,1.0,306.000000,1.0,288.132996,7534.0,5.267393e+06,296.670013,296.670013,...,5.267393e+06,0.0,100.0,100.0,381.897000,1.000000,168.00000,35462.760000,149154.520000,35462.760000

In [9]:
df_v[(df_v['FECHA'] >= '2024-05-01') & (df_v['FECHA'] <= '2024-06-02')].describe()

,index,HORA,ARL,PI_SOTR,ARL_ECON,ENERGIA,PRECIO_NODO,PR_REM_ENERGIA,POT_DISP,POT_OPE_CPO,...,CGN,CGO,POT_DISP_R19,FACTOR_KM,ENERG_GEN_TRANSAC,ENERG_OPE_TRANSAC,PGENE_RES354,CGU_PROPIO,CGU_MEM,CGU_GAS_CEDIDO
count,38088.000000,38088.000000,38088.0,38088.000000,38085.0,38088.000000,38085.0,26279.000000,38088.000000,34057.000000,...,21517.000000,97.0,33192.000000,34056.000000,263.000000,263.000000,0.0,0.0,0.0,0.0
mean,5872.104521,12.500000,1.0,55.913771,1.0,57.438427,7534.0,43102.806781,104.206155,72.966394,...,99.957708,100.0,109.427964,0.979150,136.495505,210.656174,NaN,NaN,NaN,NaN
std,3514.195972,6.922277,0.0,79.370833,0.0,76.114414,0.0,36546.916619,91.975186,94.534908,...,1.780525,0.0,96.360023,0.128154,47.141517,84.295228,NaN,NaN,NaN,NaN
min,0.000000,1.000000,1.0,0.000000,1.0,0.000000,7534.0,0.000000,0.000000,0.000000,...,5.000000,100.0,0.000000,0.000000,0.000000,0.000000,NaN,NaN,NaN,NaN
25%,1837.000000,6.750000,1.0,0.000000,1.0,0.000000,7534.0,7534.000000,16.730000,0.000000,...,100.000000,100.0,16.730000,1.000000,78.862499,123.716003,NaN,NaN,NaN,NaN
50%,5689.000000,12.500000,1.0,0.100000,1.0,13.391000,7534.0,35337.640000,89.000000,16.572001,...,100.000000,100.0,95.795000,1.000000,153.300003,214.380997,NaN,NaN,NaN,NaN
75%,8336.250000,18.250000,1.0,113.000000,1.0,109.386501,7534.0,57156.965000,178.500000,124.699997,...,100.000000,100.0,184.100000,1.000000,178.001999,290.128006,NaN,NaN,NaN,NaN
max,11543.000000,24.000000,1.0,301.000000,1.0,285.308014,7534.0,558868.740000,296.670013,296.670013,...,100.000000,100.0,324.623000,1.000000,178.001999,313.588013,NaN,NaN,NaN,NaN

In [10]:
df_nc[(df_nc['FECHA'] >= '2024-05-01') & (df_nc['FECHA'] <= '2024-06-02')].describe()

,index,HORA,ARL,PI_SOTR,ARL_ECON,ENERGIA,PRECIO_NODO,PR_REM_ENERGIA,POT_DISP,POT_OPE_CPO,...,POT_DISP_GAS,COSTO_406,REM_ADICIONAL,CFO,CGN,CGO,POT_DISP_R19,FACTOR_KM,ENERG_GEN_TRANSAC,ENERG_OPE_TRANSAC
count,38088.000000,38088.000000,38088.0,38088.000000,38085.0,38088.000000,38085.0,26279.000000,38088.000000,34057.000000,...,38088.000000,38085.000000,38088.0,6120.000000,21517.000000,97.0,33192.000000,34056.000000,263.000000,263.000000
mean,5872.104521,12.500000,1.0,55.913771,1.0,57.438427,7534.0,43102.806781,104.206155,72.966394,...,103.213594,25554.836480,0.0,99.919935,99.957708,100.0,109.427964,0.979150,136.495505,210.656174
std,3514.195972,6.922277,0.0,79.370833,0.0,76.114414,0.0,36546.916619,91.975186,94.534908,...,92.288467,35744.008652,0.0,2.069663,1.780525,0.0,96.360023,0.128154,47.141517,84.295228
min,0.000000,1.000000,1.0,0.000000,1.0,0.000000,7534.0,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.0,10.000000,5.000000,100.0,0.000000,0.000000,0.000000,0.000000
25%,1837.000000,6.750000,1.0,0.000000,1.0,0.000000,7534.0,7534.000000,16.730000,0.000000,...,16.730000,0.000000,0.0,100.000000,100.000000,100.0,16.730000,1.000000,78.862499,123.716003
50%,5689.000000,12.500000,1.0,0.100000,1.0,13.391000,7534.0,35337.640000,89.000000,16.572001,...,89.000000,7534.000000,0.0,100.000000,100.000000,100.0,95.795000,1.000000,153.300003,214.380997
75%,8336.250000,18.250000,1.0,113.000000,1.0,109.386501,7534.0,57156.965000,178.500000,124.699997,...,177.437748,39555.900000,0.0,100.000000,100.000000,100.0,184.100000,1.000000,178.001999,290.128006
max,11543.000000,24.000000,1.0,301.000000,1.0,285.308014,7534.0,558868.740000,296.670013,296.670013,...,324.622986,558868.740000,0.0,100.000000,100.000000,100.0,324.623000,1.000000,178.001999,313.588013