In [1]:
import os
import pandas as pd
import zipfile
import pyodbc
import requests
import io
from datetime import datetime, timedelta
import sqlalchemy

In [2]:
server = 'DARCCVWSQL19'
#server = 'DESKTOP-37ESKFT\SQLEXPRESS'
database = 'TAPI'
tabla = 'Contratos_Diario_Automatico'

In [3]:
#SELEC * FROM Diario;

connection_string = f'DRIVER=ODBC Driver 17 for SQL Server;SERVER={server};DATABASE={database};Trusted_Connection=yes;'

# Conectar a la base de datos
connection = pyodbc.connect(connection_string)

# Crear un cursor para ejecutar consultas
cursor = connection.cursor()

# TODO: Crear acá la tabla en la BBDD
#  Consulta SQL
query = f'SELECT * FROM {tabla}'

# Ejecutar la consulta
df = pd.read_sql(query, connection)

# Cerrar el cursor
cursor.close()

C:\Users\jadurian\AppData\Local\Temp\ipykernel_6576\2975674156.py:16: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df = pd.read_sql(query, connection)

In [6]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1728 entries, 0 to 1727
Data columns (total 15 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   index               1728 non-null   int64
 1   FECHA               1728 non-null   object
 2   CONTRATOID          1728 non-null   int64
 3   CONTRATO            1728 non-null   object
 4   HORA                1728 non-null   int64
 5   POT_RECONC          1728 non-null   float64
 6   PCON                1728 non-null   float64
 7   COMPROMISO          1440 non-null   float64
 8   DISP                1728 non-null   float64
 9   COEF_K              1728 non-null   float64
 10  PENALIZA            1728 non-null   float64
 11  POT_DISPONIBLE_AEF  288 non-null    float64
 12  DISP_AEF            288 non-null    float64
 13  POT_DISPONIBLE_CA   288 non-null    float64
 14  DISP_CA             288 non-null    float64
dtypes: float64(10), int64(3), object(2)
memory usage: 202.6+ KB

In [8]:
datos_abril_2024 = df[(df['FECHA'].dt.year == 2024) & (df['FECHA'].dt.month == 4)]

In [16]:
datos_abril_2024.sort_values(by="FECHA", inplace=True)

C:\Users\jadurian\AppData\Local\Temp\ipykernel_12508\2113894948.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  datos_abril_2024.sort_values(by="FECHA", inplace=True)

In [17]:
datos_abril_2024.tail()

,index,FECHA,GRUPO,HORA,ARL,ESTADO_OPE,PI_SOTR,ARL_ECON,EST_REMUN,ENERGIA,...,POT_DISP_R19,FACTOR_KM,HORA_REPRESENTATIVA,ENERG_GEN_TRANSAC,ENERG_OPE_TRANSAC,SOBREC_FORZ_PROPIO,PGENE_RES354,CGU_PROPIO,CGU_MEM,CGU_GAS_CEDIDO
421385,5745,2024-04-24,GEBATV02,10,1,CMI,89.0,1,===,83.611000,...,181.4,1.0,None,NaN,NaN,None,NaN,NaN,NaN,NaN
421384,5744,2024-04-24,GEBATV02,9,1,CMI,75.0,1,===,74.285004,...,181.4,1.0,None,NaN,NaN,None,NaN,NaN,NaN,NaN
421383,5743,2024-04-24,GEBATV02,8,1,CMI,74.0,1,===,83.219002,...,181.4,1.0,None,NaN,NaN,None,NaN,NaN,NaN,NaN
421393,5753,2024-04-24,GEBATV02,18,1,COP,75.0,1,COP,75.292000,...,181.4,1.0,None,NaN,NaN,None,NaN,NaN,NaN,NaN
420720,1480,2024-04-24,BAHIEO,13,1,lib,0.0,1,lib,0.000000,...,NaN,NaN,None,NaN,NaN,None,NaN,NaN,NaN,NaN