In [1]:
import os
import pandas as pd
import zipfile
import pyodbc
import requests
import io
from datetime import datetime, timedelta
import sqlalchemy

In [2]:
server = 'DARCCVWSQL19'
#server = 'DESKTOP-37ESKFT\SQLEXPRESS'
database = 'TAPI'
tabla = 'DiarioTest'

In [8]:
#SELEC * FROM Diario;

connection_string = f'DRIVER=ODBC Driver 17 for SQL Server;SERVER={server};DATABASE={database};Trusted_Connection=yes;'

# Conectar a la base de datos
connection = pyodbc.connect(connection_string)

# Crear un cursor para ejecutar consultas
cursor = connection.cursor()

# TODO: Crear ac√° la tabla en la BBDD
#  Consulta SQL
query = 'SELECT * FROM DiarioTest'

# Ejecutar la consulta
df = pd.read_sql(query, connection)

# Cerrar el cursor
cursor.close()

C:\Users\jadurian\AppData\Local\Temp\ipykernel_24188\1236665344.py:16: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df = pd.read_sql(query, connection)

In [14]:
df.sort_values(by= ['FECHA', 'GRUPO', 'HORA'], inplace=True)

In [17]:
df.drop('index', axis=1 , inplace=True)

In [18]:
df

,FECHA,GRUPO,HORA,ARL,ESTADO_OPE,PI_SOTR,ARL_ECON,EST_REMUN,ENERGIA,PRECIO_NODO,...,POT_DISP_R19,FACTOR_KM,HORA_REPRESENTATIVA,ENERG_GEN_TRANSAC,ENERG_OPE_TRANSAC,SOBREC_FORZ_PROPIO,PGENE_RES354,CGU_PROPIO,CGU_MEM,CGU_GAS_CEDIDO
451167,2023-01-01,ADTOHI,1,1,lib,0.000000,1,lib,0.000000,1682,...,150.0,1.0,None,NaN,NaN,None,NaN,NaN,NaN,NaN
451168,2023-01-01,ADTOHI,2,1,lib,0.000000,1,lib,0.000000,1682,...,150.0,1.0,None,NaN,NaN,None,NaN,NaN,NaN,NaN
451169,2023-01-01,ADTOHI,3,1,lib,0.000000,1,lib,0.000000,1682,...,150.0,1.0,None,NaN,NaN,None,NaN,NaN,NaN,NaN
451170,2023-01-01,ADTOHI,4,1,lib,0.000000,1,lib,0.000000,1682,...,150.0,1.0,None,NaN,NaN,None,NaN,NaN,NaN,NaN
451171,2023-01-01,ADTOHI,5,1,lib,0.000000,1,lib,0.000000,1682,...,150.0,1.0,None,NaN,NaN,None,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
393619,2024-02-29,PPLEHI,20,1,===,256.899994,1,===,251.167999,7534,...,285.0,1.0,S,NaN,NaN,None,NaN,NaN,NaN,NaN
393620,2024-02-29,PPLEHI,21,1,===,256.600006,1,===,251.238998,7534,...,285.0,1.0,S,NaN,NaN,None,NaN,NaN,NaN,NaN
393621,2024-02-29,PPLEHI,22,1,===,225.199997,1,===,224.636993,7534,...,285.0,1.0,S,NaN,NaN,None,NaN,NaN,NaN,NaN
393622,2024-02-29,PPLEHI,23,1,===,194.100006,1,===,195.337006,7534,...,285.0,1.0,S,NaN,NaN,None,NaN,NaN,NaN,NaN
393623,2024-02-29,PPLEHI,24,1,===,167.000000,1,===,167.647003,7534,...,285.0,1.0,S,NaN,NaN,None,NaN,NaN,NaN,NaN