In [1]:
import os
import pandas as pd
import zipfile
import pyodbc
import requests
import io
from datetime import datetime, timedelta
import sqlalchemy

In [2]:
server = 'DARCCVWSQL19'
#server = 'DESKTOP-37ESKFT\SQLEXPRESS'
database = 'TAPI'
tabla = 'DiarioTest'

In [3]:
#SELEC * FROM Diario;

connection_string = f'DRIVER=ODBC Driver 17 for SQL Server;SERVER={server};DATABASE={database};Trusted_Connection=yes;'

# Conectar a la base de datos
connection = pyodbc.connect(connection_string)

# Crear un cursor para ejecutar consultas
cursor = connection.cursor()

# TODO: Crear ac√° la tabla en la BBDD
#  Consulta SQL
query = 'SELECT * FROM DiarioTest'

# Ejecutar la consulta
df = pd.read_sql(query, connection)

# Cerrar el cursor
cursor.close()

C:\Users\jadurian\AppData\Local\Temp\ipykernel_12508\1236665344.py:16: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df = pd.read_sql(query, connection)

In [11]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 551544 entries, 0 to 551543
Data columns (total 41 columns):
 #   Column               Non-Null Count   Dtype
---  ------               --------------   -----
 0   index                551544 non-null  int64
 1   FECHA                551544 non-null  datetime64[ns]
 2   GRUPO                551544 non-null  object
 3   HORA                 551544 non-null  int64
 4   ARL                  551544 non-null  int64
 5   ESTADO_OPE           551544 non-null  object
 6   PI_SOTR              551544 non-null  float64
 7   ARL_ECON             551544 non-null  int64
 8   EST_REMUN            551544 non-null  object
 9   ENERGIA              551544 non-null  float64
 10  PRECIO_NODO          551544 non-null  int64
 11  PR_REM_ENERGIA       358808 non-null  float64
 12  SMEC                 551544 non-null  object
 13  POT_DISP             551544 non-null  float64
 14  POT_OPE_CPO          495360 non-null  float64
 15  COMPRA_SPOT          548760 non-null  float64
 16  SCTD                 324022 non-null  float64
 17  SCO                  324022 non-null  float64
 18  PIND                 495360 non-null  float64
 19  PINDPROG             495360 non-null  float64
 20  PINDFORZ             495360 non-null  float64
 21  POT_DISP_GAS         551544 non-null  float64
 22  POT_DISP_RESERVA     0 non-null       object
 23  GAS_NOMINADO         0 non-null       object
 24  COSTO_406            551544 non-null  float64
 25  REM_ADICIONAL        551544 non-null  int64
 26  DESP_ECON            551544 non-null  object
 27  CCM                  0 non-null       object
 28  CFO                  74886 non-null   float64
 29  CGN                  322710 non-null  float64
 30  CGO                  5607 non-null    float64
 31  POT_DISP_R19         495360 non-null  float64
 32  FACTOR_KM            495360 non-null  float64
 33  HORA_REPRESENTATIVA  202270 non-null  object
 34  ENERG_GEN_TRANSAC    9681 non-null    float64
 35  ENERG_OPE_TRANSAC    9681 non-null    float64
 36  SOBREC_FORZ_PROPIO   0 non-null       object
 37  PGENE_RES354         32832 non-null   float64
 38  CGU_PROPIO           32832 non-null   float64
 39  CGU_MEM              32832 non-null   float64
 40  CGU_GAS_CEDIDO       32832 non-null   float64
dtypes: datetime64[ns](1), float64(24), int64(6), object(10)
memory usage: 172.5+ MB

In [8]:
datos_abril_2024 = df[(df['FECHA'].dt.year == 2024) & (df['FECHA'].dt.month == 4)]

In [16]:
datos_abril_2024.sort_values(by="FECHA", inplace=True)

C:\Users\jadurian\AppData\Local\Temp\ipykernel_12508\2113894948.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  datos_abril_2024.sort_values(by="FECHA", inplace=True)

In [17]:
datos_abril_2024.tail()

,index,FECHA,GRUPO,HORA,ARL,ESTADO_OPE,PI_SOTR,ARL_ECON,EST_REMUN,ENERGIA,...,POT_DISP_R19,FACTOR_KM,HORA_REPRESENTATIVA,ENERG_GEN_TRANSAC,ENERG_OPE_TRANSAC,SOBREC_FORZ_PROPIO,PGENE_RES354,CGU_PROPIO,CGU_MEM,CGU_GAS_CEDIDO
421385,5745,2024-04-24,GEBATV02,10,1,CMI,89.0,1,===,83.611000,...,181.4,1.0,None,NaN,NaN,None,NaN,NaN,NaN,NaN
421384,5744,2024-04-24,GEBATV02,9,1,CMI,75.0,1,===,74.285004,...,181.4,1.0,None,NaN,NaN,None,NaN,NaN,NaN,NaN
421383,5743,2024-04-24,GEBATV02,8,1,CMI,74.0,1,===,83.219002,...,181.4,1.0,None,NaN,NaN,None,NaN,NaN,NaN,NaN
421393,5753,2024-04-24,GEBATV02,18,1,COP,75.0,1,COP,75.292000,...,181.4,1.0,None,NaN,NaN,None,NaN,NaN,NaN,NaN
420720,1480,2024-04-24,BAHIEO,13,1,lib,0.0,1,lib,0.000000,...,NaN,NaN,None,NaN,NaN,None,NaN,NaN,NaN,NaN