In [1]:
import os
import pandas as pd
import zipfile
import pyodbc
import requests
import io
from datetime import datetime, timedelta
import sqlalchemy

In [2]:
#server = 'DARCCVWSQL19'
server = 'DESKTOP-37ESKFT\SQLEXPRESS'
database = 'TAPI'
tabla = 'DiarioTest'

In [18]:
#SELEC * FROM Diario;

connection_string = f'DRIVER=ODBC Driver 17 for SQL Server;SERVER={server};DATABASE={database};Trusted_Connection=yes;'

# Conectar a la base de datos
connection = pyodbc.connect(connection_string)

# Crear un cursor para ejecutar consultas
cursor = connection.cursor()

# TODO: Crear ac√° la tabla en la BBDD
#  Consulta SQL
query = 'SELECT * FROM DiarioTest'

# Ejecutar la consulta
df = pd.read_sql(query, connection)

# Cerrar el cursor
cursor.close()

C:\Users\Jony\AppData\Local\Temp\ipykernel_11616\1236665344.py:16: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df = pd.read_sql(query, connection)

In [19]:
df

,index,FECHA,GRUPO,HORA,ARL,ESTADO_OPE,PI_SOTR,ARL_ECON,EST_REMUN,ENERGIA,...,POT_DISP_R19,FACTOR_KM,HORA_REPRESENTATIVA,ENERG_GEN_TRANSAC,ENERG_OPE_TRANSAC,SOBREC_FORZ_PROPIO,PGENE_RES354,CGU_PROPIO,CGU_MEM,CGU_GAS_CEDIDO
0,26,01-01-2023,9JULDI02,3,1,i-i,0.0,1,i-i,0.000000,...,0.0,1.0,None,NaN,NaN,None,NaN,NaN,NaN,NaN
1,27,01-01-2023,9JULDI02,4,1,i-i,0.0,1,i-i,0.000000,...,0.0,1.0,None,NaN,NaN,None,NaN,NaN,NaN,NaN
2,28,01-01-2023,9JULDI02,5,1,i-i,0.0,1,i-i,0.000000,...,0.0,1.0,None,NaN,NaN,None,NaN,NaN,NaN,NaN
3,29,01-01-2023,9JULDI02,6,1,i-i,0.0,1,i-i,0.000000,...,0.0,1.0,None,NaN,NaN,None,NaN,NaN,NaN,NaN
4,30,01-01-2023,9JULDI02,7,1,i-i,0.0,1,i-i,0.000000,...,0.0,1.0,None,NaN,NaN,None,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
31915,4950,01-01-2023,ENE1EO,7,1,===,0.0,1,===,64.790001,...,NaN,NaN,None,NaN,NaN,None,NaN,NaN,NaN,NaN
31916,4951,01-01-2023,ENE1EO,8,1,===,0.0,1,===,16.407000,...,NaN,NaN,None,NaN,NaN,None,NaN,NaN,NaN,NaN
31917,4952,01-01-2023,ENE1EO,9,1,===,0.0,1,===,7.536000,...,NaN,NaN,None,NaN,NaN,None,NaN,NaN,NaN,NaN
31918,4953,01-01-2023,ENE1EO,10,1,===,0.0,1,===,0.719000,...,NaN,NaN,None,NaN,NaN,None,NaN,NaN,NaN,NaN
31919,4954,01-01-2023,ENE1EO,11,1,===,0.0,1,===,9.966000,...,NaN,NaN,None,NaN,NaN,None,NaN,NaN,NaN,NaN

<bound method Series.unique of 0        2023-01-01
1        2023-01-01
2        2023-01-01
3        2023-01-01
4        2023-01-01
            ...
47875    2023-01-01
47876    2023-01-01
47877    2023-01-01
47878    2023-01-01
47879    2023-01-01
Name: FECHA, Length: 47880, dtype: object>