In [1]:
import os
import pandas as pd
import zipfile
import pyodbc
import requests
import io
from datetime import datetime, timedelta
import sqlalchemy
import warnings

warnings.filterwarnings('ignore')

In [11]:
server = 'DARCCVWSQL19'
#server = 'DESKTOP-37ESKFT\SQLEXPRESS'
database = 'TAPI'
tabla_nc = 'Valores_Gen_Diario_Automatico'
tabla_c = 'GenMATER_Corregidos'
tabla =

In [12]:
#SELEC * FROM Diario;

connection_string = f'DRIVER=ODBC Driver 17 for SQL Server;SERVER={server};DATABASE={database};Trusted_Connection=yes;'

# Conectar a la base de datos
connection = pyodbc.connect(connection_string)

# Crear un cursor para ejecutar consultas
cursor = connection.cursor()

# TODO: Crear acÃ¡ la tabla en la BBDD
#  Consulta SQL
# query_nc = f"SELECT * FROM {tabla_nc} where FECHA > '2023-01-01' and FECHA <= '2024-04-30';"

query_c = f"SELECT * FROM {tabla_c} where FECHA >= '2023-01-01' and FECHA <= '2023-03-31';"
# Ejecutar la consulta
df_c = pd.read_sql(query_c, connection)
# df_nc = pd.read_sql(query_nc, connection)


# Cerrar el cursor
cursor.close()

In [14]:
df_c.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4 entries, 0 to 3
Data columns (total 13 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   index               4 non-null      int64
 1   FECHA               4 non-null      object
 2   AGENTE              4 non-null      object
 3   CONJUNTO            3 non-null      object
 4   UNIDAD              3 non-null      object
 5   ESCALA              3 non-null      object
 6   ENERGIA_TOTAL       4 non-null      float64
 7   ENERGIA_CONTRATADA  4 non-null      float64
 8   VTA_ENERGIA         4 non-null      float64
 9   VTA_PREC_REN        4 non-null      float64
 10  REMUN_PREC_REN      4 non-null      float64
 11  VTA_ENE_RESTO       4 non-null      float64
 12  REMUN_ENE_BASE      4 non-null      float64
dtypes: float64(7), int64(1), object(5)
memory usage: 544.0+ bytes