In [1]:
import os
import pandas as pd
import zipfile
import pyodbc
import requests
import io
from datetime import datetime, timedelta
import sqlalchemy

In [11]:
server = 'DARCCVWSQL19'
#server = 'DESKTOP-37ESKFT\SQLEXPRESS'
database = 'TAPI'
tabla_nc = 'Valores_Gen_Diario_Automatico'
tabla_c = 'Hist_Bk'

In [12]:
#SELEC * FROM Diario;

connection_string = f'DRIVER=ODBC Driver 17 for SQL Server;SERVER={server};DATABASE={database};Trusted_Connection=yes;'

# Conectar a la base de datos
connection = pyodbc.connect(connection_string)

# Crear un cursor para ejecutar consultas
cursor = connection.cursor()

# TODO: Crear acá la tabla en la BBDD
#  Consulta SQL
query_nc = f"SELECT * FROM {tabla_nc} where FECHA > '2023-01-01' and FECHA <= '2024-04-30';"

query_c = f"SELECT * FROM {tabla_c} where FECHA > '2023-01-01' and FECHA <= '2024-04-30';"
# Ejecutar la consulta
df_c = pd.read_sql(query_c, connection)
df_nc = pd.read_sql(query_nc, connection)


# Cerrar el cursor
cursor.close()

C:\Users\jadurian\AppData\Local\Temp\ipykernel_23800\972587998.py:17: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df_c = pd.read_sql(query_c, connection)
C:\Users\jadurian\AppData\Local\Temp\ipykernel_23800\972587998.py:18: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df_nc = pd.read_sql(query_nc, connection)

In [13]:
df_nc.describe()

,index,HORA,ARL,PI_SOTR,ARL_ECON,ENERGIA,PRECIO_NODO,PR_REM_ENERGIA,POT_DISP,POT_OPE_CPO,...,POT_DISP_GAS,COSTO_406,REM_ADICIONAL,CFO,CGN,CGO,POT_DISP_R19,FACTOR_KM,ENERG_GEN_TRANSAC,ENERG_OPE_TRANSAC
count,555638.000000,555638.000000,555638.000000,555638.000000,555638.0,555614.000000,555638.000000,3.597150e+05,555638.000000,499291.000000,...,555614.000000,5.556340e+05,555638.0,74394.000000,326672.000000,5535.000000,499286.000000,499286.000000,9814.000000,9814.000000
mean,6319.464164,12.499829,1.003603,49.030011,1.0,50.870553,3736.402352,1.405825e+04,96.368416,63.453584,...,96.395474,7.113670e+03,0.0,95.854437,99.744423,99.999097,100.405930,0.956094,108.138580,144.127253
std,3464.315559,6.922135,0.809782,74.775216,0.0,71.633967,1978.507353,9.592767e+04,90.227333,88.317010,...,90.249610,7.718722e+04,0.0,17.650217,2.437485,0.067206,94.885931,0.187839,34.469270,54.741537
min,263.000000,1.000000,1.000000,0.000000,1.0,0.000000,1682.000000,0.000000e+00,0.000000,0.000000,...,0.000000,0.000000e+00,0.0,5.000000,5.000000,95.000000,0.000000,0.000000,0.000000,0.000000
25%,3343.000000,6.000000,1.000000,0.000000,1.0,0.000000,2691.000000,3.767000e+03,16.730000,0.000000,...,16.730000,0.000000e+00,0.0,100.000000,100.000000,100.000000,16.670000,1.000000,71.164251,91.360750
50%,6091.000000,12.000000,1.000000,0.000000,1.0,9.312500,3767.000000,9.670750e+03,60.000000,8.466000,...,60.000000,5.850000e+02,0.0,100.000000,100.000000,100.000000,72.000000,1.000000,108.900002,149.404999
75%,9957.000000,18.000000,1.000000,97.000000,1.0,95.279999,3767.000000,2.203253e+04,162.964005,112.970501,...,163.000000,9.599722e+03,0.0,100.000000,100.000000,100.000000,174.296500,1.000000,130.113007,173.447498
max,11831.000000,24.000000,183.000000,312.000000,1.0,289.471985,7534.000000,5.666834e+07,296.670013,296.670013,...,447.066986,5.666834e+07,0.0,100.000000,100.000000,100.000000,447.067000,1.000000,178.001999,327.786011

In [14]:
df_c.describe()

,index,HORA,ARL,PI_SOTR,ARL_ECON,ENERGIA,PRECIO_NODO,PR_REM_ENERGIA,POT_DISP,POT_OPE_CPO,...,REM_ADICIONAL,CFO,CGN,CGO,POT_DISP_R19,FACTOR_KM,PGENE_RES354,CGU_PROPIO,CGU_MEM,CGU_GAS_CEDIDO
count,557328.000000,557328.000000,557328.000000,557328.000000,557328.0,557328.000000,557328.000000,3.616930e+05,557328.000000,500520.000000,...,557328.0,74730.000000,327114.000000,5607.000000,500520.000000,500520.000000,34920.000000,34920.000000,34920.000000,34920.000000
mean,6330.046147,12.500000,1.003592,49.015653,1.0,50.853579,3755.512359,1.419172e+04,96.227523,63.481066,...,0.0,95.873076,99.744768,99.999108,99.960392,0.950829,54.715098,4901.096598,21896.527987,5214.132200
std,3470.518677,6.922193,0.808553,74.779834,0.0,71.618800,1979.473255,1.959785e+04,90.291315,88.330834,...,0.0,17.612676,2.435856,0.066774,94.865085,0.199520,70.692967,6719.993284,14525.659890,7115.659181
min,263.000000,1.000000,1.000000,0.000000,1.0,0.000000,1682.000000,0.000000e+00,0.000000,0.000000,...,0.0,5.000000,5.000000,95.000000,0.000000,0.000000,0.000000,0.000000,1473.000000,0.000000
25%,3349.000000,6.750000,1.000000,0.000000,1.0,0.000000,2691.000000,3.767000e+03,16.730000,0.000000,...,0.0,100.000000,100.000000,100.000000,16.670000,1.000000,0.000000,0.000000,9675.870000,0.000000
50%,6098.000000,12.500000,1.000000,0.000000,1.0,9.361000,3767.000000,9.776570e+03,60.000000,8.488500,...,0.0,100.000000,100.000000,100.000000,72.000000,1.000000,8.827500,1151.000000,20919.670000,1151.000000
75%,9990.000000,18.250000,1.000000,97.000000,1.0,95.272003,3767.000000,2.193203e+04,163.000000,113.000000,...,0.0,100.000000,100.000000,100.000000,173.280000,1.000000,158.200500,8754.837500,31573.940000,9398.937500
max,11831.000000,24.000000,183.000000,312.000000,1.0,289.471985,7534.000000,5.267393e+06,296.670013,296.670013,...,0.0,100.000000,100.000000,100.000000,447.067000,1.000000,168.000000,35462.760000,272634.720000,35462.760000

In [ ]:
# Restar los DataFrames
diferencias = df1 - df2
print(diferencias)